.main_container {
    display: flex;
    flex-direction: column;
    width: 90dvw;
    margin: 1.5rem auto;
}

.main_container h1 {
    font-size: 2rem;
    padding-left: 5px;
    border-left: 5px solid var(--yellow);
    color: var(--white);
    margin-bottom: 0.25rem;
}

section {
    padding: 1rem 0px;
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
}

.section h2 {
    font-size: 1.8rem;
    border-left: 5px solid var(--yellow);
    color: var(--white);
    padding-left: 5px;
}

.contentList {
    display: flex;
    gap: 1rem;
    color: var(--white-900);
    padding: 1rem;
    flex-wrap: wrap;

}

.contentList li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--dark-gray-2);
    
}

.buttonSeeMore {
    color: var(--light-blue);
    font-weight: bold;
    background-color: var(--medium-gray);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 1.5rem 0px;
    width: 40%;
    align-self: center;
}

.buttonSeeMore:hover {
    background-color: var(--light-gray);
}


@media screen and (max-width: 610px) {
    .contentList {
        align-items: center;
        justify-content: center;
    }
}