.container {
    height: 100%;
    color: var(--black);
    font-weight: bold;
    background-color: var(--white);
    border: none;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid rgba(188, 183, 183, 0.862);
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.container:hover {
    background-color: var(--white-800);
}



.container svg {
    transition: transform 0.2s;
}