.main_container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.8rem 0px;
    
}

.main_container h2 {
    font-size: 2rem;
    padding: 0px 2rem;
}


.contentListContainer {
    position: relative;
    padding: 0px 2rem;
}



/*antes tava o hover na primeira classe*/
.contentListContainer:hover button{
    opacity: 1;
}



.contentList{
    display: flex;
    gap: 0.9rem;
    color: var(--white-900);
    overflow: auto;
    -ms-overflow-style: none;  /* Esconde a scrollbar do IE e Edge */
    scrollbar-width: none;  /* Esconde a scrollbar do Firefox */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /*para IOs*/
}

/* Esconde a scrollbar para o Chrome, Safari e Opera */
.contentList::-webkit-scrollbar {
    display: none;
  }
  

.contentList li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--dark-gray-2);
}


