.main_container {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.8rem 0px;
    
}

.main_container h2 {
    font-size: 2rem;
    padding: 0px 2rem;
}


.contentListContainer {
    position: relative;
    padding: 0px 2rem;
}




.contentListIconContainer {
    position: absolute;
    color: var(--white-900);
    background-color: hsla(0, 0%, 0%, 0.274);
    top: calc(50% - 35px - 1.3rem);
    transition: color .3s;
    border: 1px solid var(--white-900);
    padding: 1.3rem;
    border-radius: 0.4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .4s;
    
}

.contentListIconContainer:hover {
    color: var(--yellow);
    
}

/*antes tava o hover na primeira classe*/
.contentListContainer:hover .contentListIconContainer{
    opacity: 1;
}

.iconArrowLeft{
    left: 0px;
    opacity: 0;
}
.iconArrowLeft svg {
    transform: rotate(180deg);
}


.iconArrowRight {
    right: 0px;
    opacity: 1;
}


.contentList{
    display: flex;
    gap: 0.9rem;
    color: var(--white-900);
    overflow: auto;
    -ms-overflow-style: none;  /* Esconde a scrollbar do IE e Edge */
    scrollbar-width: none;  /* Esconde a scrollbar do Firefox */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /*para IOs*/
}

/* Esconde a scrollbar para o Chrome, Safari e Opera */
.contentList::-webkit-scrollbar {
    display: none;
  }
  

.contentList li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--dark-gray-2);
}


