.main_container {
    display: flex;
    flex-direction: column;
    width: 90dvw;
    margin: 2rem auto;
}

.main_container h1 {
    font-size: 2rem;
    padding-left: 5px;
    border-left: 5px solid var(--yellow);
    color: var(--white);
}

.contentList {
    display: flex;
    gap: 1rem;
    color: var(--white-900);
    padding: 1rem;
    flex-wrap: wrap;

}

.contentList li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--dark-gray-2);
    
}


.emptyListContainer {
    align-self: center;
    color: var(--white-900);
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    margin: 3rem auto;
    font-size: 1.2rem;
    border-top: 1px solid var(--white-900);
    border-bottom: 1px solid var(--white-900);
    padding: 1.5rem 0px;
}



.emptyListContainer a {
    color: var(--light-blue);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--medium-gray);
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
}

.emptyListContainer a:hover {
    background-color: var(--light-gray);
}

.emptyListContainer svg {
    color: var(--white-900);
}


@media screen and (max-width: 608px) {
    .contentList  {
        align-items: center;
        justify-content: center;
    }
    
}