.contentListIconContainer {
    position: absolute;
    color: var(--white-900);
    background-color: hsla(0, 0%, 0%, 0.274);
    top: calc(50% - 35px - 1.3rem);
    transition: color .3s;
    border: 1px solid var(--white-900);
    padding: 1.3rem;
    border-radius: 0.4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity .4s;
    
}

.contentListIconContainer:hover {
    color: var(--yellow);
    
}

.buttonArrowLeft{
    left: 16px; /*Com base na quantidade de gaps que aparecem por scroll*/
    opacity: 0;
}
.buttonArrowLeft svg {
    transform: rotate(180deg);
}


.buttonArrowRight {
    right: 16px; /*Com base na quantidade de gaps que aparecem por scroll*/
    opacity: 1;
}